.slideshow-container{
	position:relative;
	height:100%;
}
.content{
	background-color:#111111;
}
.partner{
	float:right;
	width:15%;
	height:100%;
	position:relative;
	border-right: 1px solid #c6c6c6;
	background: rgba(246,246,246,0.67);
}
.partner-content{
	position:absolute;
	bottom:0;
	left:30%;
}
.partner-header{
	text-align:center;
	margin-bottom:50px;
	padding-bottom:5px;
	border-bottom:1px solid #e4e4e4;
}
.partner img{
	margin-bottom:40px;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:7px;
	opacity:0.8;
}
body,html{
	overflow:hidden;
	height:100%;
	text-align:center;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
h1{
	color:#00adef;
}
.changes{
	margin-right:10px
}
.status{
	text-align: right;
	font-size: 90px;
}
.control-panel{
	position:absolute;
	top:5px;
	right:10px;
	opacity:0.4;
	z-index:20;
	width:400px;
	line-height:30px;
}
.lines{
	color:#fff;

}
.line{
	background-color:#303030;
	margin:0;
	padding: 30px 0;
	font-size:80px;
	position:relative;
	display:block;
	height:200px;
}
.line:nth-child(2n-1){
	background-color:#000;
}
.line>div>*{
	vertical-align:sub;
}
.line.ng-enter {
	-webkit-transition:0.5s linear all;
	-moz-transition:0.5s linear all;
	-o-transition:0.5s linear all;
    	transition:0.5s linear all;
	max-height: 0;
	opacity: 0;
	left: -1000px;

}
.line.ng-enter.ng-enter-active {
	max-height: 200px;
	opacity: 1;
    	left: 0;
}
.line.ng-leave {
  -webkit-animation:0.8s my_animation linear;
  -moz-animation:0.8s my_animation linear;
  -o-animation:0.8s my_animation linear;
  animation:0.8s my_animation linear;
}

@keyframes my_animation {
  from {
    max-height: 200px;
    opacity: 1;
    left: 0;
    padding: 30px;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -1000px;
    padding: 0;
  }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from {
    max-height: 200px;
    opacity: 1;
    left: 0;
    padding: 30px;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -1000px;
    padding: 0;
  }
}
.footer{
	color:#fff;
	position:fixed;
	bottom:0;
	width:100%;
	z-index:500;
	background-color:#000;
	height:122px;
	line-height:122px;
	font-size:60px;
}
.notes{
	position:absolute;
	left:2000px;
	white-space:nowrap !important;
}
.clock{
	font-size:80px;
}
.headline{
	font-size:80px;
	background-color:#000;
	color:#fff;
	border-bottom:2px solid #fff;
	text-align:center;
	padding:20px 0;
	height:145px;
}
.headline svg{
	fill:#fff;
}
.marker{
	position:absolute;
	left:0;
	top:50%;
	height:50%;
}
.marker>div{
	width:25px;
	height:100%;
	background-color:#fff;
	top:-50%;
	display:block;
	position:relative;
}
.stationname{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size:60px;
	line-height:60px;
}
.drawn-route{
	font-size:18px;
}
.animated-bus{
	-webkit-transition: opacity 300ms linear 1s;
	-moz-transition: opacity 300ms linear 1s;
	-o-transition: opacity 300ms linear 1s;
	transition: opacity 300ms linear 1s;
}
svg text tspan{
	text-anchor:middle;
}
