<div class="slideshow-container" ng-controller="BusStopCtrl">
		<div ng-show="warning">System not working</div>
		
		<div class="content container-fluid" ng-init="refreshLines();">
		<div class="clock">{{clock}}</div>
			<div class="lines">
				<div ng-repeat="line in lines | orderBy:'comesIn'" class="row line">
					<div class="col-xs-9">{{line.lidname}}</div>
					<div class="col-xs-3">
						<span>{{line.comesIn}}'</span>
					</div>
				</div>	
			</div>
		</div>
		<div class="partner">
			<div class="partner-content">
				<div>
					<a href="http://www.sasabz.it/bozen/" target="_blank" title="SASA"><img class="img-rounded"
						src="http://www.sasabz.it/fileadmin/vorlage/img/logo.gif"/></a>
				</div>
			</div>
		</div>
</div>
<div class="footer" ng-init="refreshInfos();">
	<div ng-repeat="note in notes" class="notes" id="element{{$index}}">
		<div class="note">{{note.text}}</div>
	</div>
</div> 

