<div ng-controller="BusStopCtrl" style="width:100%">
	<header>
		<div class="container-fluid">
			<div class="row headline">

				<div class="col-xs-3 col-xs-offset-1 col-lg-1 col-lg-offset-1">
					<span class="glyphicon glyphicon-time"></span>
				</div>
				<div class="col-xs-3 col-lg-1 col-lg-offset-2">
					<span class="glyphicon glyphicon-map-marker"></span>
				</div>
				<div class="col-xs-3 col-xs-offset-2 col-lg-2 col-lg-offset-4 hidden-xs">
					<div my-clock="HH:mm" class="clock"><!----></div>
				</div>
			</div>
		</header>
		<div class="slideshow-container">
			<div ng-show="warning">Site under mantainance!!!</div>
			<div class="content container-fluid" style="opacity:0.9">
				<div class="lines">
					<div ng-repeat="ride in rides | orderBy:'from'" class="row line">
						<div class="col-xs-3 col-xs-offset-1 col-lg-3 col-lg-offset-0">
							<div class="starts-in">
								<div>{{ride.startsIn}}</div>
								<div>
									<small>{{ride.time}}</small>
								</div>
							</div>
						</div>
						<div class="col-xs-3">{{ride.SpaceDesc}}</div>
						<div class="col-xs-5" >
							<div ng-show="ride.EventDescriptionEN!=ride.EventDescriptionDE">
								<a ng-show="ride.EventWebAddress" href="{{ride.EventWebAddress}}" target="_blank">
									{{ride.EventDescriptionDE}}<br/>
									{{ride.EventDescriptionIT}}<br/>
									{{ride.EventDescriptionEN}}
								</a>
								<strong ng-show="!ride.EventWebAddress">
									{{ride.EventDescriptionDE}}<br/>
									{{ride.EventDescriptionIT}}<br/>
									{{ride.EventDescriptionEN}}
								</strong>
							</div>
							<div ng-show="ride.EventDescriptionEN==ride.EventDescriptionDE">
								<a ng-show="ride.EventWebAddress" href="{{ride.EventWebAddress}}" target="_blank">
									{{ride.EventDescriptionEN}}<br/>
									<small class="subtitle">{{ride.Subtitle}}</small>
								</a>
								<strong ng-show="!ride.EventWebAddress">
									{{ride.EventDescriptionEN}}<br/>
									<small class="subtitle">{{ride.Subtitle}}</small>
								</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
