.slideshow-container{
	position:relative;
	height:100%;
	padding: 20px;
	background-size: cover;
	background-image: url(../img/noi.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body,html{
	height:100%;
	width:100%;
	text-align:center;
	font-family:Arial,sans-serif !important;
	color:#000;
}
body>div{
	width:100%;
}
.changes{
	margin-right:10px
}
.status{
	text-align: right;
	font-size: 90px;
}
.control-panel{
	position:absolute;
	top:5px;
	right:10px;
	opacity:0.4;
	z-index:20;
	width:400px;
	line-height:30px;
}
.line{
	background-color:white;
	margin:0;
	margin-bottom: 15px;
	padding: 20px;
	position:relative;
	display:block;
	height:200px;
}
.line>div{
	    height: 100%;
			display: flex;
			align-items: center;
		overflow:hidden;
}

.line.ng-enter {
	-webkit-transition:0.5s linear all;
	-moz-transition:0.5s linear all;
	-o-transition:0.5s linear all;
    	transition:0.5s linear all;
	max-height: 0;
	opacity: 0;
	left: -1000px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);

}
.line.ng-enter.ng-enter-active {
	max-height: 200px;
	opacity: 1;
    	left: 0;
}
.line.ng-leave {
	-webkit-animation:0.8s my_animation linear;
	-moz-animation:0.8s my_animation linear;
 	-o-animation:0.8s my_animation linear;
  	animation:0.8s my_animation linear;
	-webkit-transform: translate3d(0,0,0);
  	-moz-transform: translate3d(0,0,0);
  	-ms-transform: translate3d(0,0,0);
  	-o-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
}

@keyframes my_animation {
  from {
    max-height: 200px;
    opacity: 1;
    left: 0;
    padding: 30px;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -1000px;
    padding: 0;
  }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from {
    max-height: 200px;
    opacity: 1;
    left: 0;
    padding: 30px;
  }
  to {
    max-height: 0;
    opacity: 0;
    left: -1000px;
    padding: 0;
  }
}
.footer{
	color:#000;
	position:fixed;
	bottom:0;
	width:100%;
	z-index:500;
	background-color:#fff;
	height:122px;
	line-height:122px;
	font-size:60px;
}
.notes{
	position:absolute;
	left:2000px;
	white-space:nowrap !important;
}
[id^="element"]{
	-webkit-transform:  translate3d(0,0,0);
   	-moz-transform:  translate3d(0,0,0);
   	-ms-transform:  translate3d(0,0,0);
   	-o-transform:  translate3d(0,0,0);
   	transform:  translate3d(0,0,0);
}
.clock{
	font-size:80px;
	line-height:80px;
}
.headline{
	font-size:80px;
	background-color:#fff;
	border-bottom:2px solid #000;
	text-align:center;
	padding:20px 0;
	height:145px;
}
.headline svg{
	fill:#000;
}
.marker{
	position:absolute;
	left:0;
	top:50%;
	height:50% !important;
}
.marker>div{
	width:25px;
	height:100%;
	background-color:#333;
	top:-50%;
	display:block;
	position:relative;
}
.stationname{
	position: relative;
	font-size:50px;
	line-height:60px;
	text-align:left;
}
.drawn-route{
	font-size:18px;
}
.animated-bus{
	-webkit-transition: opacity 300ms linear 1s;
	-moz-transition: opacity 300ms linear 1s;
	-o-transition: opacity 300ms linear 1s;
	transition: opacity 300ms linear 1s;
}
svg text tspan{
	text-anchor:middle;
}
.hwacceleration{
	-webkit-transform:  translate3d(0,0,0);
   	-moz-transform:  translate3d(0,0,0);
   	-ms-transform:  translate3d(0,0,0);
   	-o-transform:  translate3d(0,0,0);
   	transform:  translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.subtitle{
	font-size: 0.4em;
}
@media screen and (min-width: 320px) and (max-width: 812px) {
  .line{
	font-size:12px;
	padding:0;
	height:18vh;
  }
  .line .label{
	font-size:1.3vw;
  }
  body{
		overflow:auto;
		padding-top:12vh;
  }
	.headline{
		height:12vh;
		font-size: 2.8em;
		position:fixed;
		z-index: 3000;
		right:0;
		left:0;
		top:0;
	}
	.clock{
		font-size:1em;
	}
	.slideshow-container{
		background-size: contain;
		background-repeat:repeat;
	}
}
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape){
	.headline{
		font-size: 2em;
		padding:3px 0;
	}
}
@media screen and (min-width: 2000px) and (orientation: landscape){
	html,body{
		overflow:hidden;
	}
}
.label-unimportant{
	background-color:#d3d3d3;
	font-size:60%;
}

.description{
	text-align:left;
}
.location{
	color : #fff;
	background-color: #000;
	padding:15px 30px;
	margin:40px;
	font-size: 36px;
	font-weight: bold;
}

/*
BIG SCREEN
*/
header {
	display: none !important;
}
.big-screen-header{
	display:block;
	padding-bottom: 20px;
}
h1.title{
	font-size: 90px;
}
h2{
	font-size: 42px;
}
.starts-in{
	text-align: right;
	font-size: 50px;
	line-height: 56px;
	justify-content: right;
}
.starts-in strong{
	font-size: 44px;
}
.clock.day{
	font-size: 38px;
	line-height: 38px;
}
.slideshow-container{
	padding:50px 74px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
