	<header id="header">
			<h1>
				<strong>TODAY</strong>.NOI.BZ.IT
			</h1>
			<a href="https://noi.bz.it" target="_blank"><img  src="img/noi-logo.png" class="noi-logo"/></a>
		</header>
		<div class="slideshow-container">
			<div class="big-screen-header">
				<h1 class="title"><strong>TODAY</strong>.NOI.BZ.IT</h1>
				<div>
					<div my-clock="HH:mm" class="clock"><!----></div>
					<small my-clock="dd MMM yy" class="clock day"><!----></small>
				</div>
			</div>
			<div ng-show="warning">Site under mantainance!!!</div>
			<div class="content container-fluid">
				<div class="lines">
					<div ng-repeat="ride in rides | orderBy:'from'" class="row line">
						<div class="col-xs-12 description col-lg-7" >
							<h2 ng-show="ride.EventDescriptionEN != ride.EventDescriptionDE" class="multirow">
								<a ng-show="ride.EventWebAddress" href="{{ride.EventWebAddress}}" target="_blank">
									{{ride.EventDescriptionDE}}<br/>
									{{ride.EventDescriptionIT}}<br/>
									{{ride.EventDescriptionEN}}
								</a>
								<strong ng-show="!ride.EventWebAddress">
									{{ride.EventDescriptionDE}}<br/>
									{{ride.EventDescriptionIT}}<br/>
									{{ride.EventDescriptionEN}}
								</strong>
								<small ng-show="ride.CompanyName">{{ride.CompanyName}} </small>
							</h2>
							<h2 ng-show="ride.EventDescriptionEN==ride.EventDescriptionDE">
								<a ng-show="ride.EventWebAddress" href="{{ride.EventWebAddress}}" target="_blank">
									{{ride.EventDescriptionEN}}<br/>
									<span ng-show="ride.Subtitle"> - {{ride.Subtitle}}</span>
								</a>
								<strong ng-show="!ride.EventWebAddress">
									{{ride.EventDescriptionEN}}
									<span ng-show="ride.Subtitle"> - {{ride.Subtitle}}</span>
								</strong>
								<br/>
								<small ng-show="ride.CompanyName">{{ride.CompanyName.split("/")[0].split("-")[0]}} </small>
							</h2>
						</div>
						<div class="col-xs-12 col-lg-5 col-lg-offset-0" style="justify-content:flex-end">
							<div class="location" >
								<span ng-repeat="space in ride.SpaceDescList"><span ng-show="$index <3 && $index > 0">, </span><span ng-show="$index<3">{{space.substring(space.indexOf('NOI ')+4)}}</span><span ng-show="$index == 3"> ...</span></span>
							</div>
							<div class="starts-in">
								<div><small  ng-bind-html="ride.time"></small></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
